.button{
	-fx-background-color: #455A64;
	-fx-background-radius: 0em;
	-fx-text-fill: white;
}
.button:hover{
	-fx-background-color: #607D8B;
}

.TextFiled:focused{
	-fx-border-color: red;
}
